<!DOCTYPE html>
<html>
	<head>
		<title>HSG Ticketing - My Helper account</title>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div id="monocard">
			<div class="on-monocard-title-primary">
				My Helper account
				<div id="title-navigate"></div>
			</div>
			<div class="title-subtext">username</div>
			<div class="on-monocard-spacer-small"></div>
			<table>
				<tr>
					<th>Helper for event</th>
					<td>Example event A</td>
				</tr>
				<tr>
					<th>User name</th>
					<td>username</td>
				</tr>
			</table>
			<div class="on-monocard-spacer-small"></div>
			<table>
				<tr>
					<th>Can mark tickets as paid</th>
					<td>Allowed</td>
				</tr>
				<tr>
					<th>Can see additional ticket info</th>
					<td>Allowed</td>
				</tr>
				<tr>
					<th>Can add new Helpers</th>
					<td>Not allowed</td>
				</tr>
			</table>
			<div class="on-monocard-spacer-small"></div>
			<button class="on-monocard-interactable connect-down">Change password</button>
			<button class="on-monocard-interactable connect-up">Sign out all login sessions</button>
		</div>
		<footer></footer>
	</body>
</html>