{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("account.title") }}
{% endblock %}

{% block subtitle %}
{{ username }}
{% endblock %}

{% block content %}
<table>
	<tr>
		<th>{{ _("account.forevent") }}</th>
		<td>{{ forevent }}</td>
	</tr>
	<tr>
		<th>{{ _("account.username") }}</th>
		<td>{{ username }}</td>
	</tr>
</table>
{{ macros.spacer_small() }}
<table>
	<tr>
		<th>{{ _("account.cansell") }}</th>
		<td>{{ _("account.allowed") if cansell else _("account.notallowed") }}</td>
	</tr>
	<tr>
		<th>{{ _("account.cancheck") }}</th>
		<td>{{ _("account.allowed") if cancheck else _("account.notallowed") }}</td>
	</tr>
	<tr>
		<th>{{ _("account.canaddhelpers") }}</th>
		<td>{{ _("account.allowed") if canaddhelpers else _("account.notallowed") }}</td>
	</tr>
</table>
{{ macros.spacer_small() }}
{{ macros.button(id="redirect-change-password", text=_("account.changepassword"), connect_down=True) }}
{{ macros.button(id="sign-out-all", text=_("account.signoutall"), connect_up=True) }}
{% endblock %}