{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("account.changepassword") }}
{% endblock %}

{% block subtitle %}
{{ username }}
{% endblock %}

{% block content %}
{{ macros.note_error(id="note-oldincorrect", text=_("change-password.oldincorrect")) }}
{{ macros.note_error(id="note-newpasswordmismatch", text=_("change-password.newpasswordmismatch")) }}
{{ macros.note_error(id="note-minimumnotmet", text=_("change-password.minimumnotmet")) }}
{{ macros.note_error(id="note-miscerror", text=_("miscerror")) }}
{{ macros.spacer_small() }}
<form id="change-password-form">
{{ macros.textbox(id="old-password", placeholder=_("change-password.oldpassword"), password=True, connect_down=True) }}
{{ macros.textbox(id="new-password", placeholder=_("change-password.newpassword"), password=True, connect_up=True, connect_down=True) }}
{{ macros.textbox(id="repeat-new-password", placeholder=_("change-password.repeatnewpassword"), password=True, connect_up=True) }}
{{ macros.spacer_small() }}
{{ macros.button(id="change-password-submit", text=_("account.changepassword"), is_submit=True, disabled=True) }}
</form>
{% endblock %}