{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("create-helper-account.title") }}
{% endblock %}

{% block subtitle %}
{{ _("forevent") | replace("$$EVENTNAME$$", eventname) }}
{% endblock %}

{% block content %}
{{ macros.note_error(id="note-minimumnotmet", text=_("change-password.minimumnotmet")) }}
{{ macros.note_error(id="note-usernametaken", text=_("change-password.usernametaken")) }}
{{ macros.note_error(id="note-miscerror", text=_("miscerror")) }}
{{ macros.spacer_small() }}
<form id="create-helper-form">
{{ macros.textbox(id="username", placeholder=_("account.username"), connect_down=True) }}
{{ macros.textbox(id="password", placeholder=_("create-helper-account.password"), password=True, connect_up=True) }}
{{ macros.spacer_small() }}
{{ macros.checkbox(id="decoupled", text=_("create-helper-account.decouple"), description=_("create-helper-account.decouple-subtitle")) }}
{{ macros.spacer_small() }}
{{ macros.checkbox(id="cansell", text=_("account.cansell"), description=_("create-helper-account.cansell-subtitle")) }}
{{ macros.checkbox(id="cancheck", text=_("account.cancheck"), description=_("create-helper-account.cancheck-subtitle")) }}
{{ macros.checkbox(id="canaddhelpers", text=_("account.canaddhelpers"), description=_("create-helper-account.canaddhelpers-subtitle")) }}
{{ macros.spacer_small() }}
{{ macros.button(id="create-helper-submit", text=_("create-helper-account.confirm"), is_submit=True, disabled=True) }}
</form>
{% endblock %}