{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("create-event.title") }}
{% endblock %}

{% block subtitle %}
{{ _("create-event.subtitle") }}
{% endblock %}

{% block content %}
<form id="create-event-form">
<div class="row-container">
	<span class="pad">{{ _("create-event.ticketstart") }}</span>
	<input class="on-monocard-interactable" type="date" id="ticketstart-date"/>
	<input class="on-monocard-interactable" type="time" id="ticketstart-time"/>
</div>
<div class="row-container">
	<span class="pad">{{ _("create-event.ticketend") }}</span>
	<input class="on-monocard-interactable" type="date" id="ticketend-date"/>
	<input class="on-monocard-interactable" type="time" id="ticketend-time"/>
</div>
{{ macros.spacer_small() }}
{{ macros.button(id="create-event-submit", text=_("create-event.title"), is_submit=True, disabled=True) }}
</form>
{% endblock %}