{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("event-picker.title") }}
{% endblock %}

{% block subtitle %}
{{ _("event-picker.subtitle") }}
{% endblock %}

{% block content %}
{% for event in currently_selling %}
{{ macros.navoption(text=event[0], description=(_("event-picker.ticketsale") | replace("$$TICKETSTART$$", event[1]) | replace("$$TICKETEND$$", event[2])), connect_up=(not loop.first), connect_down=(not loop.last)) }}
{% endfor %}
{{ macros.spacer_small() }}
{% for event in not_currently_selling %}
{{ macros.navoption(text=event[0], description=(_("event-picker.noticketsale") | replace("$$TICKETSTART$$", event[1]) | replace("$$TICKETEND$$", event[2])), connect_up=(not loop.first), connect_down=(not loop.last)) }}
{% endfor %}
{{ macros.spacer_small() }}
{{ macros.navoption(text=_("event-picker.noevent")) }}
{% endblock %}