<!DOCTYPE html>
<html>
	<head>
		<title>HSG Ticketing - Login</title>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div id="monocard">
			<div class="on-monocard-title-primary">
				Log into a Helper account
				<div id="title-navigate"></div>
			</div>
			<div class="title-subtext">for "Example event"</div>
			<div class="on-monocard-spacer-small"></div>
			<div class="on-monocard-note connect-down">Your login session expired</div>
			<div class="on-monocard-note connect-up connect-down">You were signed out successfully</div>
			<div class="on-monocard-note on-monocard-note-error connect-up">Wrong username or password, please try again</div>
			<div class="on-monocard-spacer-small"></div>
			<input class="on-monocard-interactable connect-down" placeholder="Username"/><br/>
			<input class="on-monocard-interactable connect-up" type="password" placeholder="Password"/>
			<div class="on-monocard-spacer-small"></div>
			<button class="on-monocard-interactable">Log in</button>
		</div>
		<footer></footer>
	</body>
</html>