{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("login.title") }}
{% endblock %}

{% block subtitle %}
{{ _("forevent") | replace("$$EVENTNAME$$", eventname) if event_selected else _("noevent") }}
{% endblock %}

{% block content %}
{{ macros.note_error(id="invalid-login-note", text=_("login.invalid")) }}
{{ macros.note_error(id="miscerror-note", text=_("miscerror")) }}
{{ macros.spacer_small() }}
<form id="login-form">
{{ macros.textbox(id="username", placeholder=_("account.username"), connect_down=True) }}
{{ macros.textbox(id="password", placeholder=_("create-helper-account.password"), password=True, connect_up=True) }}
{{ macros.spacer_small() }}
{{ macros.checkbox(id="decoupled", text=_("login.decoupled"), checked=(not event_selected), disabled=(not event_selected)) }}
{{ macros.spacer_small() }}
{{ macros.button(id="login-submit", text=_("login.confirm"), is_submit=True, disabled=True) }}
</form>
{% endblock %}