<!DOCTYPE html>
<html>
	<head>
		<title>HSG Ticketing - Sample page</title>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div id="monocard">
			<div class="on-monocard-title-primary">
				Sample page
				<div id="title-navigate"></div>
			</div>
			<div class="title-subtext">Stylesheet application examples</div>
			<div class="on-monocard-spacer-small"></div>
			<div class="on-monocard-note connect-down">This is a note</div>
			<div class="on-monocard-note on-monocard-note-error connect-up">This is an error note</div>
			<div class="on-monocard-spacer-small"></div>
			<input class="on-monocard-interactable connect-down" placeholder="This is a text box"/><br/>
			<button class="on-monocard-interactable connect-up">This is a button</button>
			<div class="on-monocard-spacer-small"></div>
			<p>This is just text. Always use the &ltp&gt tag for text to ensure consistent padding.</p>
			<div class="on-monocard-spacer-small"></div>
			<div class="row-container"><span>This is a checkbox</span><input type="checkbox" class="on-monocard-interactable"/></div>
			<div class="on-monocard-spacer-small"></div>
			<div class="on-monocard-interactable row-container">
				<span>
					This is a navigation option<br/>
					<div class="title-subtext">This is a subtext for a navigation option</div>
				</span>
				<img src="../assets/arrow.svg" class="option-icon"/>
			</div>
			<div class="on-monocard-spacer-small"></div>
			<div class="row-container">
				<input class="on-monocard-interactable ticket-input connect-right" placeholder="TICKET" maxlength="6"/>
				<div class="on-monocard-interactable ticket-option connect-left connect-right"><img src="../assets/delete.svg" class="option-icon"/></div>
				<div class="on-monocard-interactable ticket-option connect-left"><img src="../assets/qrcode.svg" class="option-icon"/></div>
			</div>
			<div class="on-monocard-spacer-small"></div>
			<div class="row-container">
				<span>This is a number input</span>
				<div class="on-monocard-interactable row-option connect-right"><img src="../assets/minus.svg" class="option-icon"/></div>
				<input class="on-monocard-interactable connect-left connect-right" type="number"/>
				<div class="on-monocard-interactable row-option connect-left"><img src="../assets/plus.svg" class="option-icon"/></div>
			</div>
			<div class="on-monocard-spacer-large"></div>
			<div id="ticket-status-message">This ticket is <span class="ticket-approved"></span> for entry</div>
			<div class="on-monocard-spacer-large"></div>
			<div id="ticket-status-message">This ticket is <span class="ticket-not-approved"></span> for entry</div>
		</div>
		<footer></footer>
	</body>
</html>