{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("ticket-create.title") }}
{% endblock %}


{% block subtitle %}
{{ _("forevent") | replace("$$EVENTNAME$$", eventname)}}
{% endblock %}

{% block content %}
<form id="ticket-create-form">
{{ macros.textbox(id="name", placeholder=_("ticket-create.name"), connect_down=True) }}
{{ macros.textbox(id="surname", placeholder=_("ticket-create.surname"), connect_up=True) }}
{{ macros.spacer_small() }}
{{ macros.checkbox(id="non-student", text=_("ticket-create.nograde")) }}
{{ macros.numberinput(id="grade", text=_("ticket-create.grade"), min=1, max=12, step=1) }}
{{ macros.spacer_small() }}
{{ macros.button(id="ticket-create-confirm", text=_("ticket-create.confirm"), is_submit=True, disabled=True) }}
</form>
{% endblock %}