<!DOCTYPE html>
<html>
	<head>
		<title>HSG Ticketing - Get your ticket</title>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div id="monocard">
			<div class="on-monocard-title-primary">
				Get your ticket
				<div id="title-navigate"></div>
			</div>
			<div class="title-subtext">for "Example event A"</div>
			<div class="on-monocard-spacer-small"></div>
			<input class="on-monocard-interactable connect-down" placeholder="Your name"/><br/>
			<input class="on-monocard-interactable connect-up" placeholder="Your surname"/><br/>
			<div class="on-monocard-spacer-small"></div>
			<div class="row-container"><span>I am a teacher or other non-student attendee</span><input type="checkbox" class="on-monocard-interactable"/></div>
			<div class="row-container">
				<span class="pad">What grade are you in?</span>
				<div class="on-monocard-interactable row-option connect-right"><img src="../assets/minus.svg" class="option-icon"/></div>
				<input class="on-monocard-interactable connect-left connect-right" type="number"/>
				<div class="on-monocard-interactable row-option connect-left"><img src="../assets/plus.svg" class="option-icon"/></div>
			</div>
			<div class="on-monocard-spacer-small"></div>
			<button class="on-monocard-interactable" disabled>Get your ticket!</button>
		</div>
		<footer></footer>
	</body>
</html>