{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
{{ _("ticket-info.title") }}
{% endblock %}


{% block subtitle %}
{{ _("forevent") | replace("$$EVENTNAME$$", eventname)}}
{% endblock %}

{% block content %}
<form method="post" id="ticket-check-form">
{{ macros.ticketinput(id="ticketcode", value=ticketcode, disable_input=ticketcode) }}
</form>
{{ macros.spacer_large() if ticketcode }}
{{ macros.ticketvalidity(outer_text=_("ticket-info.valid-outer"), inner_text=(_("ticket-info.valid-inner-true") if ticket_valid else _("ticket-info.valid-inner-false")), is_valid=ticket_valid) if ticketcode }}
{{ macros.spacer_large() if ticketcode }}
{{ macros.note(text=_("ticket-info.helpernote"), hidden=(cancheck and cansell), connect_down=(cancheck or cansell)) }}
{% if cancheck %}
<table class="{{ 'connect-down' if cansell else 'connect-up' }}">
	<tr>
		<th>{{ _("ticket-info.name") }}</th>
		<td>{{ name }}</td>
	</tr>
	<tr>
		<th>{{ _("ticket-info.surname") }}</th>
		<td>{{ surname }}</td>
	</tr>
	<tr>
		<th>{{ _("ticket-info.grade") }}</th>
		<td>{{ grade if grade else _("ticket-info.nonstudent") }}</td>
	</tr>
</table>
{{ macros.button(id="ticket-mark-paid", text=_("ticket-info.markpaid"), disabled=ticket_valid, connect_up=True) if cansell}}
{% endif %}
{% endblock %}